.centerStuff {
  margin-left: 10%;
  margin-right: 10%;
}

.question {
  padding-top: 10px;
  font-size: 17px;
}

.grid-profile {
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  max-width: 700px;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 0.25fr;
  grid-gap: 1px 1px;
  grid-template-areas: "profileImg userDetails userDetails userDetails" "stats level wins xp";
  background-color: #edeeef;
  padding: 10px;
}

.userDetails { grid-area: userDetails; padding-left: 60px;}

.level { 
  grid-area: level; 
  border-right: 1px solid gray;
  text-align: center;
}

.wins { grid-area: wins; border-right: 1px solid gray; text-align: center;}

.xp { grid-area: xp; text-align: center;}

.profileImg { grid-area: profileImg;}

.stats { grid-area: stats; border-right: 1px solid gray; text-align: center;}

.UserAvatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
}