.centerStuff {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px 10px;
  grid-template-areas: "progression progression" "question answer";
}

.aceHeight {
  height: 0px;
}

.progression {
  grid-area: progression;
  margin: 0px;
}

.question { 
  grid-area: question;
}

.answer { 
  grid-area: answer;
}